<launch>
  <arg name="takeoff_height" default="0.4" />
	<node name="wp_mgr_server" pkg="mavros_offboard_control" type="local_wp_manager_server" clear_params="false" output="screen">
		<!--param name="takeoff_height" value="$(arg takeoff_height)" /-->    
	</node>
	<node name="sp_server" pkg="mavros_offboard_control" type="sp_server" clear_params="false" output="screen">
    		<param name="takeoff_height" value="$(arg takeoff_height)" />    
  	</node>

</launch>
